.logo{
    width: 10%;
    padding: 1%;
    text-align: center;
}
.logo1{
    width: 45px;
    height: 55px;
}

.navigation{
  width:100%;
  height:75px;
}

body {
    display: block;
    margin: 0px;
}

.main-nav{
  float: right;
  padding:20px;
  padding:10px;
}

.main-nav li{
  display:inline-block;
    padding: 0px 30px 0px 30px
}


.header-left{
  float: left;
  display: inline-block;
}

.header-right{
  float: right;
  display: inline-block;
  margin-left: auto;
  width: 80%;
}


.footer li{
    display:inline-block;
    padding: 0px 30px 0px 30px;
    margin-top: 100px;
    margin-left: 0px;
    float: left;

}
.foot1{
    margin-left: auto;
    float: left;
}

.content h2{
    display: inline-block;
    
}
.content p{
    float: right;
}
html{
  background-color: #F8EEEC;
}
.workGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridItem1{
    grid-column-start: auto;
    display: inline-block;
    padding: 100px;
    background-color: white;
    text-align: center;
}
.gridItem2{
    grid-column-start: auto;
    display: inline-block;
    padding: 100px;
    background-color: white;
    text-align: center;
}
.gridItem3{
    grid-column-start: auto;
    display: inline-block;
    padding: 100px;
    background-color: white;
    text-align: center;
}

.mySkillshead{
    display: flex;
    justify-content: center; align-items: center;
    height: 100px;
}
.viewAll{
    display: flex;
    justify-content: center; align-items: center;

}
.myWorkhead{
    display: flex;
    justify-content: center; align-items: center;
    height: 200px;
}
.workImg{
    display: inline-block;
}
.projBlock{
    display: inline-block;
    vertical-align: top;
    padding-left: 9%;
    
}
.work2{
    background-color: white;
    padding-left: 15%;
}
.heroBod{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
  }
  
  #panel {
    padding: 50px;
    display: none;
  }
